TipsGotTrolled/TipsGotTrolled.xcodeproj/xcuserdata/*
TipsGotTrolled/TipsGotTrolled.xcodeproj/project.xcworkspace/xcuserdata/*
TipsGotTrolled/TipsGotTrolled.xcodeproj/xcuserdata/
TipsGotTrolled/TipsGotTrolled.xcodeproj/project.xcworkspace/xcuserdata/
**/.DS_Store
