PureKFD/PureKFD.xcodeproj/xcuserdata/*
PureKFD/PureKFD.xcodeproj/project.xcworkspace/xcuserdata/*
PureKFD/PureKFD.xcodeproj/xcuserdata/
PureKFD/PureKFD.xcodeproj/project.xcworkspace/xcuserdata/
**/.DS_Store
